doctype html
html(lang='en-us', style='height: 100%; visibility: visible;')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		script(src='./assets/js/jquery-3.2.1.min.js')
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js')
		script(src='./assets/js/jquery-ui.min.js')
		script(src='./assets/js/scripts.js')
		//- link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet')
		link(href='./assets/css/style.css' rel='stylesheet')
	body
		header
			strong
				span (Verbal 
				em rather
				span )
		main
			#sentence
				h1
			aside#phenomena
				.hamburger.close
				.filter.phenomena(data-prop='phenomena')
					.options
						ul
							li.option(data-val='PR_1125')
								span The car needs washed
							li.option(data-val='CG_1025.1')
								span I was afraid you might couldn’t find it
							li.option(data-val='PI_1160')
								span John plays guitar, but so don’t I
							li.option(data-val='PI_1171')
								span Here’s you a piece of pizza
							li.option(data-val='CG_1026.1')
								span This seat reclines hella
							li.option(data-val='PI_1161')
								span When I don't have hockey and I'm done my homework, I go there and skate
							li.option(data-val='PI_1172')
								span I’m SO not going to study tonight
							li.option(data-val='PR_1116')
								span Every time you ask me not to hum, I’ll hum more louder
			aside#filters
				.close
					.arrow
				.filter.race.open(data-prop='Race')
					.label Race
					.options
						ul
							li.option.selected.all(data-val=null) All Race
							li.option(data-val='Amerindian') Amerindian
							li.option(data-val='Asian') Asian
							li.option(data-val='Black') Black
							li.option(data-val='Hispanic') Hispanic
							li.option(data-val='White') White
							li.option(data-val='Other') Other
				
				.filter.income.open(data-prop='Income')
					.label Income
					.options
						//- .slider(data-prop='Income' data-type='range' data-min='0' data-max='500000')
						ul
							li.option.selected.all(data-val=null) All Income
							li.option(data-val='12500') 12500
							li.option(data-val='37500') 37500
							li.option(data-val='62500') 62500
							li.option(data-val='75000') 75000
							li.option(data-val='100000') 100000
				
				.filter.age.open(data-prop='Age_Bin')
					.label Age
					.options
						ul
							li.option.selected.all(data-val=null) All Ages
							li.option(data-val='18-30') 18-30
							li.option(data-val='31-40') 31-40
							li.option(data-val='41-50') 41-50
							li.option(data-val='51-60') 51-60
							li.option(data-val='61_up') 61 &amp; Up


				.filter.acceptance.open.radio(data-prop=null)
					.label Acceptance Level
					.options
						//- .slider(data-prop='Age' data-type='range' data-min='0' data-max='100')
						ul
							li.option.selected.all(data-val=null) Show All
							li.option(data-val='3,4,5') 'Acceptable' Only
							li.option(data-val='1,2') 'Unacceptable' Only
			#map