doctype html
html(lang='en-us', style='height: 100%; visibility: visible;')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		script(src='./assets/js/jquery-3.2.1.min.js')
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js')
		script(src='./assets/js/jquery-ui.min.js')
		script(src='./assets/js/scripts.js')
		//- link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet')
		link(href='./assets/css/style.css' rel='stylesheet')
	body
		header
			strong
				span (Verbal 
				em rather
				span )
		main
			#sentence
				h1
			aside#phenomena
				.hamburger.close
				.fieldset.phenomena(data-prop='phenomena')
					.options
						ul
			aside#filters
				.close
					.arrow
				//- .fieldset.filter.race.open(data-prop='Race')
				//- 	.label Race
				//- 	.options
				//- 		ul
				//- 			li.option.selected.all(data-val=null) All Race
				//- 			li.option(data-val='Amerindian') Amerindian
				//- 			li.option(data-val='Asian') Asian
				//- 			li.option(data-val='Black') Black
				//- 			li.option(data-val='Hispanic') Hispanic
				//- 			li.option(data-val='White') White
				//- 			li.option(data-val='Other') Other
				
				.fieldset.filter.age.open(data-prop='Age_Bin')
					.label Age
					.options
						.slider(data-prop='Age' data-type='range' data-min='0' data-max='100')
						//- ul
						//- 	li.option.selected.all(data-val=null) All Ages
						//- 	li.option(data-val='18-30') 18-30
						//- 	li.option(data-val='31-40') 31-40
						//- 	li.option(data-val='41-50') 41-50
						//- 	li.option(data-val='51-60') 51-60
						//- 	li.option(data-val='61_up') 61 &amp; Up


				.fieldset.filter.acceptance.open.radio(data-prop=null)
					.label Acceptance Level
					.options
						ul
							li.option.selected.all(data-val=null) Show All
							li.option(data-val='3,4,5') 'Acceptable' Only
							li.option(data-val='1,2') 'Unacceptable' Only

				.fieldset.features.open(data-prop='features')
					.label Show Features
					.options
						ul
							li.option(data-val='counties') Counties
							li.option(data-val='hot-spots') Hot Spots
							li.option(data-val='cold-spots') Cold Spots
			#map