doctype html
html(lang='en-us', style='height: 100%; visibility: visible;')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		script(src='./assets/js/jquery-3.2.1.min.js')
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js')
		script(src='./assets/js/jquery-ui.min.js')
		script(src='./assets/js/scripts.js?v=1.2')
		//- link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet')
		link(href='./assets/css/style.css?v=1.2' rel='stylesheet')
	body

		#embed
			#frame
				header.fixed
					.wrapper
						h1 Dative Presentatives
						h2.sentence
					.shadow.top
				aside#phenomena.closed
					.hamburger.close
					.inner
						header.static
							.wrapper
								h1 Dative Presentatives
								h2.sentence
						.shadow.top
						.scroller
							.form
								.fieldset.phenomena(data-prop='phenomena')
									.options
										ul
						.shadow.bottom
				aside#filters
					.tabs
						.tab.active(data-form='accept-reject')
							.label Accept/Reject
						.tab(data-form='filters')
							.label Filters
					.inner
						.scroller
							.form.active(data-form='accept-reject')
								.fieldset.filter.accept.open(data-prop='accept')
									.label
										.arrow
										span Accept
									.options
										ul
											//- li.sentence.selected.all(data-val=null) Accept All

								.fieldset.filter.reject.open(data-prop='reject')
									.label
										.arrow
										span Reject
									.options
										ul
											//- li.sentence.selected.all(data-val=null) Reject All
											
							.form(data-form='filters')
								.fieldset.filter.race(data-prop='Race')
									.label
										.arrow
										span Race/Ethnicity
									.options
										ul
											li.option.selected.all(data-val=null) All Race
											li.option(data-val='Amerindian') Amerindian
											li.option(data-val='Asian') Asian
											li.option(data-val='Black') Black
											li.option(data-val='Hispanic') Hispanic
											li.option(data-val='White') White
											li.option(data-val='Other') Other

								.fieldset.filter.race(data-prop='Education')
									.label
										.arrow
										span Education
									.options
										ul
											li.option.selected.all(data-val=null) All Education
											li.option(data-val='Associates degree') Associates degree
											li.option(data-val='Bachelors degree') Bachelors degree
											li.option(data-val='Graduate degree (masters doctorate etc.)') Graduate degree (masters doctorate etc.)
											li.option(data-val='High school graduate') High school graduate
											li.option(data-val='Some college no degree') Some college no degree
											li.option(data-val='Other') Other

								.fieldset.filter.race(data-prop='Gender')
									.label
										.arrow
										span Gender
									.options
										ul
											li.option.selected.all(data-val=null) All Gender
											li.option(data-val='Female') Female
											li.option(data-val='Male') Male
											li.option(data-val='Transgender (FTM)') Transgender (FTM)
											li.option(data-val='Transgender (MTF)') Transgender (MTF)
											li.option(data-val='Other') Other
								
								.fieldset.filter.age(data-prop='Age')
									.label
										.arrow
										span Age Range
										span.val
									.options
										.slider(data-type='range' data-min='0' data-max='100')
										//- ul
										//- 	li.option.selected.all(data-val=null) All Ages
										//- 	li.option(data-val='18-30') 18-30
										//- 	li.option(data-val='31-40') 31-40
										//- 	li.option(data-val='41-50') 41-50
										//- 	li.option(data-val='51-60') 51-60
										//- 	li.option(data-val='61_up') 61 &amp; Up


								.fieldset.filter.acceptability.radio.disabled(data-prop=null)
									.label
										.arrow
										span Acceptability
										span.val
									.options
										.slider(data-type='range' data-min='0' data-max='5')
										ul
											li.option.selected.all(data-val=null) Show All
											li.option(data-val='3,4,5') 'Acceptable' Only
											li.option(data-val='1,2') 'Unacceptable' Only

								.fieldset.advanced(data-prop='advanced')
									.label
										.arrow
										span Advanced
									.options
										ul
											li.option(data-val='counties') Counties
											li.option(data-val='hot-spots') Hot Spots
											li.option(data-val='cold-spots') Cold Spots
						.shadow.bottom
						.shadow.top
				main
					#map