doctype html
html(lang='en-us', style='height: 100%; visibility: visible;')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
		script(src='./assets/js/jquery-3.2.1.min.js')
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js')
		script(src='./assets/js/jquery-ui.min.js')
		script(src='./assets/js/scripts.js?v=1.2')
		//- link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet')	
		link(href='./assets/css/bootstrap-grid.min.css' rel='stylesheet')
		link(href='./assets/css/style.css?v=1.2' rel='stylesheet')
	body

		#embed(data-mapbox='MAPBOX_VARS')
			#frame
				header.fixed
					.wrapper
						h2 Dative Presentatives
						h1.sentence
					.shadow.top
				aside#phenomena.closed
					.hamburger.close
					.inner
						header.static
							.wrapper
								h2 Dative Presentatives
								h1.sentence
						.shadow.top
						.scroller
							.form
								.fieldset.phenomena(data-prop='phenomena')
									.options
										ul
						.shadow.bottom
				aside#filters
					.tabs
						.tab(data-form='accept-reject')
							.label Accept/Reject
						.tab.active(data-form='filters')
							.label Filters
					.inner
						.scroller
							.form(data-form='accept-reject')
								.fieldset.filter.accept.open(data-prop='accept' data-prop-slug='accept')
									.label
										.arrow
										span Accept
									.options
										ul
											//- li.sentence.selected.all(data-val=null) Accept All

								.fieldset.filter.reject.open(data-prop='reject' data-prop-slug='reject')
									.label
										.arrow
										span Reject
									.options
										ul
											//- li.sentence.selected.all(data-val=null) Reject All
											
							.form.active(data-form='filters')
								.fieldset.filter.race(data-prop='Race' data-prop-slug='race')
									.label
										.arrow
										span Race/Ethnicity
									.options
										ul
											li.option.selected.all(data-val=null) All Race
											li.option(data-val='Amerindian' data-val-slug='amerindian') Amerindian
											li.option(data-val='Asian' data-val-slug='asian') Asian
											li.option(data-val='Black' data-val-slug='black') Black
											li.option(data-val='Hispanic' data-val-slug='hispanic') Hispanic
											li.option(data-val='White' data-val-slug='white') White
											li.option(data-val='Other' data-val-slug='other') Other

								.fieldset.filter.edu(data-prop='Education' data-prop-slug='edu')
									.label
										.arrow
										span Education
									.options
										ul
											li.option.selected.all(data-val=null) All Education
											li.option(data-val='Associates degree' data-val-slug='ad') Associates degree
											li.option(data-val='Bachelors degree' data-val-slug='bd') Bachelors degree
											li.option(data-val='Graduate degree (masters doctorate etc.)' data-val-slug='gd') Graduate degree (masters doctorate etc.)
											li.option(data-val='High school graduate' data-val-slug='hsg') High school graduate
											li.option(data-val='Some college no degree' data-val-slug='scnd') Some college no degree
											li.option(data-val='Other' data-val-slug='other') Other

								.fieldset.filter.gender(data-prop='Gender' data-prop-slug='gender')
									.label
										.arrow
										span Gender
									.options
										ul
											li.option.selected.all(data-val=null) All Gender
											li.option(data-val='Female' data-val-slug='f') Female
											li.option(data-val='Male' data-val-slug='m') Male
											li.option(data-val='Transgender (FTM)' data-val-slug='ftm') Transgender (FTM)
											li.option(data-val='Transgender (MTF)' data-val-slug='mtf') Transgender (MTF)
											li.option(data-val='Other' data-val-slug='other') Other
								
								.fieldset.filter.age.multi(data-prop='Age' data-prop-slug='age')
									.label
										.arrow
										span Age
										.multi-toggle
											.multi-label Range
											.multi-label Group
									.options
										.slider(data-type='range' data-min='0' data-max='100' data-val='0,100' data-val-slug='0,100')
											.handle-label.min
											.handle-label.max
										//- ul
										//- 	li.option.selected.all(data-val=null) All Ages
										//- 	li.option(data-val='18-30') 18-30
										//- 	li.option(data-val='31-40') 31-40
										//- 	li.option(data-val='41-50') 41-50
										//- 	li.option(data-val='51-60') 51-60
										//- 	li.option(data-val='61_up') 61 &amp; Up


								.fieldset.filter.accepted.radio.open(data-prop='show', data-prop-slug='show')
									.label
										.arrow
										span Acceptability
										span.val
									.options
										ul
											li.option.selected.all(data-val=null) Show All
											li.option.range-input(data-val='3,4,5').acceptable
												span 'Acceptable' Only
												.inputs
													input.min(type='number' value='4' min='1' max='5')
													span &ndash;
													input.max(type='number' value='5' min='1' max='5')
											li.option.range-input(data-val='1,2').unacceptable
												span 'Unacceptable' Only
												.inputs
													input.min(type='number' value='1' min='1' max='5')
													span &ndash;
													input.max(type='number' value='2' min='1' max='5')

								.fieldset.layers(data-prop='layers' data-prop-slug='layers')
									.label
										.arrow
										span Advanced
									.options
										ul
											li.option(data-val='hotspots' data-val-slug='hotspots') Hot Spots
											li.option(data-val='coldspots' data-val-slug='coldspots') Cold Spots
						.shadow.bottom
						.shadow.top
				footer
					a(href='https://ygdp.yale.edu/').logo
						object(type='image/svg+xml' data='./assets/img/ygdp.svg') Yale Grammatical Diversity Project
					.keys
						.key.unacceptable
							span Unacceptable
						.key.acceptable
							span Acceptable
				main
					#map